
{% extends 'AppWeb/plantilla_base.html' %}
{% load static %}

<!--
{{producto.imagen.url}}
{{prodcuto.nombre_producto}}
{{producto.precio}}
{{producto.disponibilidad}}
{{producto.categoria_producto}}
-->

<!-- la plantilla de la AppTienda tiene una estructura diferente a las otras app, la desarrollaremos como tarjetas  "card" 
    de boopstrap , dispuestas en filas (cada fila de 4 columnas) -->

<!-- documentacion en: google: "grid system bootstrap" -->>

<body>
    {% block content %} 
    
    <div class="container">
        
        <!--Mostrar el carro solo si el ususario esta autenticado-->
        {% if request.user.is_authenticated %}
        
        <!--Contenedor para el carrito de compras-->
        <div style="float: right ;">
            <p style="color: white;">Total : $ &nbsp{{importe_total_carrito}} </p>
            {% include "carrito/carrito_widget.html" %}
        </div>
        
        {% else %}
                          
                <div style="float: right ; margin-top: 50px; margin-left: 5px;" class= "alert alert-info text-center" role="alert"> 
                    VER CARRITO <br> *** se requiere Login *** 
                </div>

        {% endif %}
    
    
        <!--La propiedad de mostrar en filas "row" , se le debe indicar antes del for 
        y se cierra al finalizar despues de enfor-->
        <div class="row">
          
                {% for producto in productos %}
                    <div class="col-md-3">
                        <div class="card" style="width: 100%; margin: 10px 10px;" >
                            
                            <img src="{{producto.imagen.url}}" class="card-img-top">

                                <div class="card-body" style="text-align: center;">
                                    <h5 class="card-titlle">
                                        {{producto.nombre_producto}}
                                    </h5>
                                    <p class="card-text">
                                        $&nbsp;{{producto.precio}}
                                    </p>
                                </div>

                                <!-- Crear boton para carrito de compras-->
                                <div class="card-footer text-center">
                                    <!--Esta ruta debe llamar a agregar productos en el carrito-->
                                    <a href="{% url 'carrito:Agregar' producto.id %}" class="btn btn-success">Agregar al carrito</a>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            
        </div>
    </div>
    {% endblock %}
</body>


<!--{% url 'carrito:agregar' producto.id %}-->